<body>
<div class="container">
	<div class="row">
		<div class="col-8">
		<h3>Others who have added <%= @song.title %></h3>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Times Added</th>
				<tr>
			</thead>
		  <tbody>
		  	<% @otheruser.each do |a| %>
		    <tr>
		      <th scope="row"><a href="/users/<%= a.id %>"><%= a.first_name %> <%= a.last_name %></th>
		      <td><%= Add.where(user_id: a.id, song_id: params[:id]).count %></td>
		    </tr>
		    <% end %>
		  </tbody>
		</table>  
		</div>
	</div>
</div>
</body>